{{ block "index"  . }}

<html>
<head>
    <title>Request</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.min.js"></script>
</head>
<body>
    <h1>Hello world!</h1>
    {{ template "toolbox" . }}
    {{ template "table" . }}
</body>
</html>

{{ end }}

{{ block "toolbox" . }}



{{ end }}

{{ block "table" . }}
    <div x-data="requestsComp">
        <!-- <table id="requests" hx-get="http://localhost:8002/requests" hx-trigger="every 1s">
            <tr>
                <th>Proto</th>
                <th>Method</th>
                <th>Status Code</th>
                <th>URL</th>
                <th>ID</th>
                <th></th>
            </tr>
            {{range .}}
            <tr>
                <td>{{.Request.HttpVersion}}</td>
                <td>{{.Request.Method}}</td>
                <td>{{.Response.StatusCode }}</td>
                <td>{{.Request.Url }}</td>
                <td>{{.Id }}</td>
                <td><button x-get="http://localhost:8002/curl/{{ .Id }}">Curl</button></td>
            </tr>
            {{end}}
        </table> -->
        <table hx-get="http://localhost:8001/requests" hx-swap="none" hx-trigger="every 1s">
            <thead>
                <tr>
                    <th>Proto</th>
                    <th>Method</th>
                    <th>Status Code</th>
                    <th>URL</th>
                    <th>ID</th>
                    <th>Start Timestamp</th>
                    <th>Selected<th>
                </tr>
            </thead>
            <tbody>
                <template x-for="request in requests" :key="request.id">
                    <tr>
                        <td x-text="request.request.httpVersion"></td>
                        <td x-text="request.request.method"></td>
                        <td x-text="request.response.statusCode"></td>
                        <td x-text="request.request.url"></td>
                        <td x-text="request.id"></td>
                        <td x-text="request.request.startTimestamp"></td>
                        <td x-text=""></td>
                    </tr>
                </template>
            </tbody>
        </table>
        <!-- <button hx-get="http://localhost:8001/requests" hx-swap="none" trigger="every 5s">Load Data</button> -->
        <!-- <div id="data-container"></div> -->
    </div>
    <script>
        document.addEventListener('htmx:afterRequest', function(event) {
            const response = event.detail.xhr.response;
            console.log(`requests len: ${response.length}`)
            const dataContainer = document.querySelector('#data-container')
            console.log(`container: ${dataContainer}`)
            const newData = JSON.parse(response);
            console.log(newData)
            let alpineComp = document.querySelector('[x-data="requestsComp"]');
            if (alpineComp && alpineComp._x_dataStack) {
                alpineComp._x_dataStack[0].setNewData(newData);
            }
        })

        document.addEventListener('alpine:init', () => {
            Alpine.data('requestsComp', () => ({
                requests: [],

                sortData(data) {
                    return data.sort((item1, item2) => {
                        return item1.request.startTimestamp - item2.request.startTimestamp;
                    });
                },
                setNewData(newData) {

                    console.log(`Got new data: ${newData}`);
                    if (!newData) {
                        return;
                    };
                    sortedData = this.sortData(newData);
                    this.requests = sortedData;
                },
            }));
        });

        // function loadInitialData() {
        //     // fetch('http://localhost:8081/requests')
        //     // .then(response => response.json())
        //     // .then(data => {
        //     //     this.requests = data;
        //     // })
        //     // .catch(error => console.error('Error loading requests:', error));
        //     this.requests = [];
        // }

   </script>

{{ end }}